.chart{
    flex: 4;
    height: 550px;
    margin-right: 1em;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47); 
    box-shadow: 2px 4px 10px 1px rgba(210,210,210,0.47); 
    border-radius: 10px;
    .title{
        font-size: 20px;
        font-weight: 500;
        color: rgb(190, 190, 190);
        padding-top: .5em;
        padding-bottom: 1.5em;
        padding-left: .5em;
        

    }
   
}