.home{
    display: flex;
    .container{
      
        flex: 6;
        .widgets {
            display: flex;
            padding: 1.5em;
            gap: 1.5em;
          
        }
        .charts{
            display: flex;
            gap: 1.5em;
            
            padding-left: 20px;
            padding-right: 5px ;
        }
        .list-container{
            margin: 1.5em;

            -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47); 
            box-shadow: 2px 4px 10px 1px rgba(210,210,210,0.47); 
            border-radius: 10px;
            
           
        }

        
    }
}