.home{
    display: flex;
    .container{
      
        flex: 6;
        .widgets, {
            display: flex;
            padding: 1.5em;
            gap: 1.5em;
          
        }
        .charts{
            display: flex;
            gap: 1.5em;
            
            padding-left: 20px;
            padding-right: 5px ;
        }
        
    }
}