.table{
    margin-top: 1em;
    .title{
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 1em;
        
        color: lightgray;
        padding-top:1em;
        padding-left: .5em;
       


    }
}